/* I wrote this! \o/ */
/* TODO:
 *  -
 */

@-moz-document domain("web.groupme.com"), domain("app.groupme.com") {

    body, #app, #page, #chats {
        background-color: #181818 !important;
        color: #d8d8d8 !important;
    }

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        color: #d8d8d8;
    }

    .groupme-list .list-item,
            .pillar,
            .message-composer,
            #tray,
            #signin .social-login {
        border-color: #585858;
    }

    #chats .chat {
        border: none;
    }

    #chats .chat-content .chat-messages,
            #tray .tray-header,
            #tray .list-search,
            #tray .tray-list,
            .well,
            #signin .account {
        background-color: #282828;
        border-color: #383838;
    }

    #chats .chat-header, #chats .chat-input .composer-layout,
            #tray .tray-header .row,
            #tray .list-search input,
            .pillar .tab.active,
            #chats .chat-messages .timestamp-divider,
            #chats .chat-messages .message.system,
            .emoji-menu .emoji-preview,
            .emoji-menu .pack-switcher,
            .form-control,
            #signin .or {
        background-color: #383838;
        border-color: #585858;
    }

    #chats .chat-messages .message.me,
            .emoji-menu .slider-control,
            .emoji-menu-pointer {
        background-color: #181818 !important;
    }

    .emoji-menu .pack-container {
        background-color: #585858;
    }

    .chat-messages .message.highlight {
        /* override bright white highlight */
        background-color: #282828;
    }

    #chats .chat-header .chat-name {
        color: #d8d8d8 !important;
    }

    #tray .tray-list .active {
        background-color: #181818;
    }

    input, #tray .tray-list .details .list-content {
        color: #d8d8d8 !important;
    }

    #tray .tray-list .details .list-heading {
        color: #e8e8e8 !important;
    }

    #tray .tray-list .chats > button:hover {
        background-color: #383838 !important;
    }

    #tray .tray-header h3, #tray .tray-header .dropdown-toggle {
        color: #7cafc2 !important;
    }

    .app-sidebar .pillar {
        background-color: #181818 !important;
    }

    .pillar .tray-controls > button, .pillar .logo {
        color: #7cafc2 !important;
    }

    .pillar .tray-controls > button:hover {
        color: #86c1b9 !important;
    }

    .dropdown-menu, #chats .chat-menu  {
        background-color: #585858 !important;
    }

    .dropdown-menu span, #chats .chat-menu span {
        color: #d8d8d8 !important;
    }

    /* non-color changes */
    .chat-messages .message .message-body .content .message-text {
        font-size: 10pt;
        line-height: 10pt;
    }
    .chat-messages .message, .chat-messages .message.is-continuation {
        padding: 0;
    }
    .chat-messages .message .message-header {
        padding-top: 7px;
    }
    .chat-messages .message.is-bookend {
        padding-bottom: 7px;
    }
    #chats .chat-messages .timestamp-divider {
        position: absolute;
        width: 10em;
        left: 50%;
        margin-left: -5em;
        background-color: transparent !important;
    }

}
