/*

TODO

LARGE TASKS
* area51.stackexchange.com                                  [ in progress ]
* *.blogoverflow.com
* blog.serverfault.com
* blog.superuser.com (much easier)                          [ in progress ]
* all the insanely complicated SO-specific features
    * blog.stackoverflow.com
    * business.stackoverflow.com
    * stackoverflow.com in general (special features)

MINOR TASKS
* fix the freaking user arrival animation in chat, can't firebug it since it
  disappears after a few seconds >:(
* fix SE 404 page (asdf.stackexchange.com)
* fix logos in various places (flip black/white)
* fix /reputation

*/

$red:     #ab4642;
$orange:  #dc9656;
$yellow:  #f7ca88;
$green:   #a1b56c;
$cyan:    #86c1b9;
$blue:    #7cafc2;
$magenta: #ba8baf;
$violet:  #a16946;

$black:   #181818;
$grey1:   #282828;
$grey2:   #383838;
$grey3:   #585858;
$grey4:   #b8b8b8;
$white:   #d8d8d8;

@-moz-document domain("stackexchange.com"),
               domain("superuser.com"),
               domain("serverfault.com"),
               domain("stackapps.com"),
               domain("mathoverflow.net"),
               domain("askubuntu.com"),
               regexp("https?://((?!blog|business)[^.]+\\.)*stackoverflow\\.com.*") {

    /* override to proper white text color */
    body, h1, h2, h3, h4, h5, h6, .heading, li,
            #hlogo a, .topbar *, .nav ul li a, .navi-container, .mod-flair,
            .votes, .votes strong, .excerpt, p, .reputation, .reputation-score,
            .user-card .user-card-name, .user-card .user-stats .number,
            #mainbar-full .name, .label, .rep, .body-summary,
            .revision-comment, .title-box .title, .group-name, .message-text,
            .votes-cast-stats th, .votes-cast-stats td, .list-unstyled li,
            .unanswered .mini-counts span, .label-key b, .label-key strong,
            #mainbar-full .about-content-page h2,
            /*chat*/
            .username, .username a, #sidebar, .stars .times, .signature .flair,
            .system-message-container .system-message, #my-rooms > li > a,
            .general-room-access > form > div,
            /*a51*/
            .category-title, .post-text, .example-question-hyperlink,
            .commit-overlap {
        color:       $white !important;
        text-shadow: none   !important; /* about/tour page h2s */
    }

    /* darkest background--the background of the entire page */
    html, .topbar, .container, #content, #footer, body > div.wrapper,
            .snippet-holder, .CodeMirror, .CodeMirror-gutter, iframe,
            /*chat*/
            #container, .timestamp, .btn-close,
            /*a51*/
            .category-content {
        background-color: $black !important;
        color:            $white !important;
        box-shadow:       none   !important; /* .container */
    }

    /* second darkest background--most sections of the main page */
    input, textarea, .post-tag,
            #sidebar .module#toc,
            #sidebar .module.newuser, .module.newuser,
            #sidebar .module.community-bulletin,
            .new-post-activity, #new-answer-activity,
            .topbar-dialog, .topbar-dialog .header,
            #toc, pre, code, .question-status, .answer-votes, .row .card,
            h2.bottom-notice, #sidebar #scroller > div, div.tag-editor,
            .grippie, .wmd-button-bar, .topbar-dialog li, .ad502-room,
            .topbar .topbar-icon-on, .topbar .topbar-icon-on:hover, .owner,
            .post-issue-display, .popup, .page-numbers, blockquote,
            .tag-container, kbd, .tab-page, #tag-menu, #wiki-excerpt,
            .welovestackoverflow, .revision td, .vote-revision td,
            .review-bar, .tag-suggestions, .sorter tr td,
            .message.message-config, .dropdown, .dropdown li,
            .tag-filter-isany, .actual-edit-overlay, #side-menu a:hover,
            .val-info, .val-message, .title-box, .privilege-table-row:hover,
            .user-rep-chart-summary-tooltip:hover, .rep-col, .dateNavBox,
            #herobox, #hero-content, #badge-progress-menu,
            .realtime-post-deleted-notification p, #postflag-bar,
            #system-message, .user-panel-mod-info, .ip-address-popup,
            .newsletter-anon, .new-login-right > .form-item, .preferred-login,
            .congrats, .qa-block, .content-block, .user-info-rep,
            #overlay-header,
            /*chat*/
            .messages, .notification, .wmd-prompt-dialog, .tag, .room-mini,
            .roomcard, .roomcard-xxl, .usercard, .usercard-xxl, .event-banner,
            .nav:not(.mainnavs):not(.askquestion) li, .message-controls,
            .conversation-info, .annot,
            /*se.com*/
            .hero-box, .user-about-me, .account-number, .date_brick,
            .featured-site, .blogcontainer, .newsletter-category,
            .newsletter-item, .newsletters-toggle, .filter-dashboard-summary,
            .filter-show-more,
            #sideBar .module.filters-sidebar,
            #sideBar .module.emailsub,
            /*a51*/
            .welcome, .list-header, .category-tab, .inner-tabs-content,
            .inner-tabs a, .proposal-page .tabs a, .proposal-status,
            .inner-tabs-header .subheader h2 {
        background-color: $grey1 !important;
        border-color:     $grey2 !important;
        color:            $white !important;
        text-shadow:      none   !important; /* kbd */
        box-shadow:       none   !important; /* kbd, .roomcard, .usercard, etc. */
    }

    /* third darkest background--generally for thins that are highlighted */
    .topbar-dialog .unread-item, .badge-tag, .action-list .action-selected,
            .close-as-duplicate-pane .item.hover, .sorter tr.even td,
            .close-as-duplicate-pane .stats, .modal-footer,
            #mdhelp-tabs, .mdhelp-tabs, .wmd-help-button.active-help,
            .owner-revision td, a.action.selected, a.action:hover,
            .tag-suggestions > div:hover, .tag-suggestions .more-info,
            span.spaces, span.hi, .tagged-interesting, .actions,
            #tabcomplete > li,
            /*chat*/
            .reply-child, .reply-parent, .onebox, .onebox *,
            .flagged-message .content, .flagged-message .mod-text,
            .ob-post-tag, .monologue.mine .messages, .wmd-mini-button.selected,
            .wmd-mini-button:hover,
            /*a51*/
            .category-tab-current, .category-tab:hover, .a51-stats, .a51-votes,
            .top-example-question-score, .subtabs a.youarehere {
        background-color: $grey2 !important;
        border-color:     $grey3 !important;
        color:            $white !important;
    }

    /* override to proper border color */
    h1, h2, h3, h4, h5, h6, .heading,
            #content, .subheader, .question-summary, #question-header, .answer,
            .comments, .comment td, .single-badge-row-question,
            .badge-hierarchy, .row, .col, h3.title-section, .badges-wrapper,
            #avatar-card, .badge-progress, .list-originals,
            .item, .snippet-code, #wmd-preview, .wmd-preview, .tm-heading,
            a.action, .sorter, .sorter th, .flagged-post, .group-name,
            .inner-container,
            /*chat*/
            .catchup-marker, #starred-posts .collapsible > li,
            /*se.com*/
            .top-question-container, .top-answer-container, .account-container,
            .question-container, .league-container, .history-table td {
        border-color: $grey2 !important;
        color:        $white !important;
        box-shadow:   none   !important; /* .question-container, .league-container */
    }
    hr, .stroke, .field-separator { background-color: $grey2 !important; }

    /* override to transparent background; some of these are to prevent the
       "flash" effect when loading a page that jumps to a specific comment
       or answer; some are just to get rid of backgrounds */
    div.answer, tr.comment,
            /*chat*/
            .username.owner, span.meta,
            /*a51*/
            .answered-accepted .mini-counts, .proposal-page #content {
        background-color: transparent !important;
    }

    /* "delete"/"close" buttons */
    .delete-tag, /*chat*/ .btn-delete {
        background: $grey1;
        color: $white;
        border: 1px solid $black;
        border-radius: 10px;
        text-align: center;
        line-height: 1em;
    }
    .delete-tag:after, /*chat*/ .btn-delete:after {
        content: "×";
    }
    .message-close { line-height: 1em !important; }

    #top-tags .tag-container.row .col {
        border-color: $black !important;
    }

    /* dark backgrounds for badges (gold, silver, bronze) */
    .badge1-alternate, .badge-1 .percent {
        background-color: mix($yellow, $black, 25%) !important;
        border-color:     mix($yellow, $black, 25%) !important;
    }
    .badge2-alternate, .badge-2 .percent {
        background-color: mix($white,  $black, 25%) !important;
        border-color:     mix($white,  $black, 25%) !important;
    }
    .badge3-alternate, .badge-3 .percent {
        background-color: mix($violet, $black, 25%) !important;
        border-color:     mix($violet, $black, 25%) !important;
    }
    .badge1-alternate, .badge2-alternate, .badge3-alternate {
        border-color: $grey2 !important;
    }
    .badge1-alternate .badgecount, .badge2-alternate .badgecount,
            .badge3-alternate .badgecount {
        color: $white !important;
    }

    .topbar-dialog .modal-content.current-site-container {
        border-color: $blue !important;
    }

    /* answer highlighting (e.g. boxes that say how many answers a question has */
    .status.answered, .status.answered strong {
        color: $green !important;
    }
    .vote.accepted, .answered-accepted {
        background-color: $grey1 !important;
        color: $green !important;
    }

    /* deleted stuff, errors, flags, pagination, search result highlights,
       "you are here" markers--basically any red highlighting */
    .deleted-answer-info, .deleted-post, .general-error, .search-errors,
            .flag-outcome.Declined, .result-highlight, .blocked-yes,
            .user-show-new .user-rep .rep-down,
            /*chat*/
            .private {
        color: $red !important;
    }
    .deleted-post:hover, .deleted-answer .comment:hover, .message.message-error,
            .bounty-indicator-tab.flagbg, .page-numbers.current,
            .page-numbers:hover {
        background-color: $red !important;
        color: $white !important;
    }
    .deleted-answer, div.answer.deleted-answer, tr.comment.deleted-comment,
            .deleted-event td, .deleted-event-details td {
        background-color: mix($red, $black, 25%) !important;
    }
    #tabs a.youarehere, .nav li.youarehere a {
        color:        $red !important;
        border-color: $red !important;
    }
    .system-alert {
        border-color: $red !important;
    }

    /* other color highlighting */
    .user-show-new .user-rep .rep-up {
        color: $green !important;
    }
    a.account-toggle.active {
        color: $black !important;
        background-color: $blue !important;
    }

    /* bounties (and weird top-X indicator kajigger) */
    .bounty-indicator, .bounty-indicator-tab, .bounty-award, .top-badge,
            .top-badge *, .top-badge a, .top-badge a:visited {
        background-color: $cyan !important;
        color: $black !important;
    }

    /* varying shades of "hotness" */
    /* (note: .commiter .foo is a51) */
    .cool, .committer .cool { color: $white !important; }
    .warm, .committer .warm { color: $yellow !important; }
    .hot, .committer .hot, .sorter tr td.hot { color: $orange !important; }
    .hotbg { background-color: $orange !important; color: $white !important; }
    .supernova, .committer .supernova, .sorter tr td.supernova { color: $red !important; }
    .supernovabg { background-color: $red !important; color: $white !important; }

    .avatar-card { box-shadow: none !important; }

    #top-cards div.graph, #top-cards div.graph svg#reputationGraph g path {
        filter: invert(100%);
    }

    /* (badge) progress bars and other green (rep-related) stuff */
    .badge-progress.completed, .progress-bar .percent, #badge-progress-bar,
            div.meter div, .recommended, .user-rep-chart-summary-bar,
            .rep-increase, .special-rep,
            /*a51*/
            .committed {
        background-color: mix($green, $black, 50%) !important;
    }
    .progress-bar .bar, .meter, .badge-progress:hover {
        background-color: $grey2 !important;
        border-color:     $grey2 !important;
    }

    /* diffs */
    .full-diff .inserted > div {
        background-color: mix($green, $black, 25%) !important;
    }
    .full-diff .deleted > div {
        background-color: mix($red, $black, 25%) !important;
    }
    .full-diff td {
        border-color: $black !important;
    }
    .full-diff .skip {
        background-color: $grey2 !important;
        color: $white !important;
    }
    .diff-add    { background-color: $green !important; color: $black !important; }
    .diff-delete { background-color: $red   !important; color: $black !important; }

    /* vote/accept buttons */
    .vote > a {
        filter: invert(100%) hue-rotate(180deg);
    }
    .vote-accepted-on {
        filter: invert(100%) hue-rotate(180deg) brightness(125%);
    }

    /* links */
    a { color: $blue !important; }
    a:visited { color: $magenta !important; }

    /* buttons */
    input[type="submit"], input[type="button"], button, a.button, .btn,
            .btn-secondary {
        background:   $violet !important;
        color:        $white  !important;
        border-color: $grey2  !important;
        text-shadow:  none    !important;
        box-shadow:   none    !important;
    }

    /* disabled buttons */
    input[type="submit"][disabled], input[type="button"][disabled],
            button[disabled], a.button[disabled], .btn[disabled],
            .btn-secondary[disabled], ._disabled {
        background:   $grey3 !important;
        color:        $grey4 !important;
        border-color: $grey2 !important;
        text-shadow:  none   !important;
        box-shadow:   none   !important;
    }

    .revision-comment.blur {
        color: $grey3 !important;
    }

    /* this is bad but seems necessary :/ */
    #newsletter-ad, #newsletter-ad > * {
        filter: invert(100%) hue-rotate(180deg);
    }

    /* some random thing from SO's new nav */
    .menu-switcher {
        background-color: $grey1 !important;
        box-shadow: none !important;
    }

    /* thing on so.com/company/about */
    .section-about-us > .hero-image-container > img {
        filter: invert(100%) hue-rotate(180deg);
    }

    /* spoilers */
    blockquote.spoiler:not(:hover) * { color: #282828 !important; }

    /* prettify (syntax highlighting) */
    .pln { color: $white  !important; }
    .str { color: $green  !important; }
    .kwd { color: $red    !important; }
    .com { color: $grey3  !important; }
    .typ { color: $yellow !important; }
    .lit { color: $orange !important; }
    .pun { color: $white  !important; }
    .opn { color: $violet !important; }
    .clo { color: $violet !important; }
    .tag { color: $red    !important; }
    .atn { color: $yellow !important; }
    .atv { color: $green  !important; }
    .dec { color: #ff0000 !important; }
    .var { color: #00ff00 !important; }
    .fun { color: #0000ff !important; }

    /* CHAT-SPECIFIC STARTS HERE */

    .username.moderator { color: $blue !important; }
    .mention { background-color: $red !important; }
    .highlight, .mspbar, .message.selected { background-color: $grey3 !important; }
    #input-area, body.outside { background: $black !important; }
    .pending, .posted, .neworedit { color: $green !important; }
    .stars:not(.user-star) .img { filter: invert(100%); }
    .deleted { color: $grey3 !important; }
    #shadow-filename, #upload-url-input > input { border: 1px solid $white !important; }

    #my-rooms li.activity-0 { color: mix($white, $grey2, 100.00%) !important; }
    #my-rooms li.activity-1 { color: mix($white, $grey2, 83.333%) !important; }
    #my-rooms li.activity-2 { color: mix($white, $grey2, 66.666%) !important; }
    #my-rooms li.activity-3 { color: mix($white, $grey2, 50.000%) !important; }
    #my-rooms li.activity-4 { color: mix($white, $grey2, 33.333%) !important; }
    #my-rooms li.activity-5 { color: mix($white, $grey2, 16.666%) !important; }
    #my-rooms li.activity-6 { color: mix($white, $grey2, 0.0000%) !important; }

    /* STACKEXCHANGE.COM-SPECIFIC STARTS HERE */

    header { background: $black !important; }
    .page-numbers { background-image: none !important; }
    .account-icon { border: none !important; }

    #reputation-graph > #highcharts-0 > svg > rect { fill: $grey1; }

    /* AREA51-SPECIFIC STARTS HERE */

    #search-bar, .footer { filter: saturate(0%); }
    .content-container { background: $black !important; }
    .module.phase { background: $grey1 !important; }
    .category-content { border: none; }
    .followed { background-color: mix($orange, $black, 25%) !important; }


}
