@-moz-document domain("tokipona.net") {
body { background-color: #181818; font-family: sans-serif; }
body, div.indextagline, td.oks a.oks { color: #d8d8d8; }
table.lessontitle td.oks { border-color: #585858; }
}
