/*
 * base16-default-dark theme for webassign
 * Copyright (C) 2017  Keyboard Fire <andy@keyboardfire.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

$red:     #ab4642;
$orange:  #dc9656;
$yellow:  #f7ca88;
$green:   #a1b56c;
$cyan:    #86c1b9;
$blue:    #7cafc2;
$magenta: #ba8baf;
$violet:  #a16946;

$black:   #181818;
$grey1:   #282828;
$grey2:   #383838;
$grey3:   #585858;
$grey4:   #b8b8b8;
$white:   #d8d8d8;

@-moz-document domain("webassign.net") {

html, body {
    background-color: $black;
    color: $white;
}

.waQBox .standard, .waQBox .crop, .waQBox .title,
.waQBox .top .border, .waQBox .bottom .border,
.waQBox > .qUtility > .qButtons,
.waBox .top .border, .waBox .bottom .border,
.waBox .subTask, .waBox .title,
.waBox .content, 
.elasticTable.questionPartDetails td,
.elasticTable.assignmentQuestionDetails td,
.smw .ungraded, div.smwTextContainer, div.smwTextArea,
.finalSubmitBox .finalSubmitBoxBorder,
.ayt-wrapper,
#webAssign #studentNav {
    background-color: $grey1;
    color: $white;
    border-color: $grey3;
}

.smw, .bContent,
.elasticTable.questionPartDetails .columnContent td.points,
.elasticTable.assignmentQuestionDetails .columnContent td.points,
.elasticTable.assignmentQuestionDetails .questionNumber,
.elasticTable.assignmentQuestionDetails .questionNumber:hover,
.elasticTable.assignmentQuestionDetails .questionNumber.hover {
    background-color: $grey2;
    color: $white;
    border-color: $grey3;
}

.waQBox > .qUtility > .standard, .waQBox > .qUtility > .crop,
.finalSubmitBox .tBorder, .finalSubmitBox .bBorder {
    border-color: $grey3;
}

.elasticTable.questionPartDetails .columnContent td.points.full_credit,
.elasticTable.assignmentQuestionDetails .columnContent td.points.full_credit {
    background-color: mix($green, $black, 50%);
}

.bread ul li.first, .finalSubmitBox, .finalSubmitBox .bBorder {
    background-color: transparent;
}

.sButton, .waBox .subTools, .studentNavBorder, .fButton,
.finalSubmitBox .bBox, .finalSubmitBox .borderWrap,
.finalSubmitBox .rTopCorner, .finalSubmitBox .lTopCorner,
.bread ul li {
    background-image: none;
}

.waQBox .top > .left, .waQBox .top > .right,
.waQBox .bottom > .left, .waQBox .bottom > .right,
.waBox .top > .left, .waBox .top > .right,
.waBox .bottom > .left, .waBox .bottom > .right {
    display: none;
}

.waQBox .top > .border, .waQBox .bottom > .border {
    height: 1px;
}

p, .infoBox h1,
#webAssign textarea, #webAssign select, #webAssign input,
.waQBox .title .detailsLink.expand,
.RequirementModal div.RequirementMain h1, h2, .waBox .top .title h4,
.waBox .subTask p,
.assignmentSummary .infoText,
#studentNav a, #studentNav a:hover,
.ayt-label-text,
.qContent .wa1par {
    color: $white;
}

div.waBox.container > div.crop.content.container > div.row.container,
div.waBox.container > div.crop.content.container > div.subTask.container,
div.formulaEditor > div.waOverlay {
    background-color: $grey1 !important;
}

a, a:link, a:active, a:visited, a:hover,
.bread a,
.bread a:link,
.bread a:active,
.bread a:visited,
.bread a:hover,
.waBox .subTools a,
.waBox .subTools a:link,
.waBox .subTools a:active,
.waBox .subTools a:visited,
.waBox .subTools a:hover { color: $blue; }

.top-nav--logo { filter: invert(100%) hue-rotate(180deg); }

}
